@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format('woff'),
  url("../fonts/opensanslight.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format('woff'),
  url("../fonts/opensans.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format('woff'),
  url("../fonts/gilroylight.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format('woff'),
  url("../fonts/gilroyextrabold.woff2") format('woff2');
  font-weight: 800;
  font-style: normal;
}

body
{
font-family: "Open Sans", "Arial", sans-serif;
}

h2.slide-title
{
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    color: #000000;
    font-weight: 800;
}
.service-title
{
    font-size: 47px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
}









/*@font-face
{
    font-family: Gilroy;
    src: url(../fonts/gilroyextrabold.woff);
}
.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}
.container
{
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}
.head
{
  margin-top: 40px;
  height: 300px;
  background-color: #f7e296;
  width: auto;
  padding: 0 60px;
}
.logo
{
  position: relative;
  top: -25px;
}
.logo span
{
  font-family: Gilroy;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: bold;
}
.logo a
{
    text-decoration: none;
    color: #000;
}
.search,
.enter,
.compare,
.cart
{
    display: inline;
}
*/
